<% include common/_heading %>
<title>L'univers de Jean-Luc Godard</title>
<link rel="stylesheet" href="../css/godard.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=B612|Lato" rel="stylesheet">
<link href="../css/opening-animation.css" rel="stylesheet">
</head>

<body>
  <div id="loading">
    <div class="loader">Loading...</div>
  </div>
  <div id="container">
    <div id="index">
      <div id="skip">
        <a href="#top">skip &gt;</a>
      </div>
      <div id="index__body">
        <p class="blue">
          <span class="letter8">L</span>
          <span class="letter13">'U</span>
          <span class="letter9">N</span>
          <span class="letter6">i</span>
          <span class="letter14">V</span>
          <span class="letter4">E</span>
          <span class="letter11">R</span>
          <span class="letter12">S</span>
        </p>
        <p>
          <span class="letter3">D</span>
          <span class="letter4">E</span>
        </p>
        <p class="red">
          <span class="letter7">J</span>
          <span class="letter4">E</span>
          <span class="letter1">A</span>
          <span class="letter9">N</span>
          <span class="letter8">-&nbsp;L</span>
          <span class="letter13">U</span>
          <span class="letter2">C</span>
          <span class="sp-hide">&nbsp;</span>
          <span class="sp-show"><br></span>
          <span class="letter5">G</span>
          <span class="letter10">O</span>
          <span class="letter3">D</span>
          <span class="letter1">A</span>
          <span class="letter11">R</span>
          <span class="letter3">D</span>
        </p>
        <a id="enter-btn" href="#top">
          allons-y, Alonzo! &gt;
        </a>
      </div>
    </div>
    <main id="main">
      <header>
        <ul>
          <li>
            <a href="#main">top</a>
          </li>
          <li>
            <a href="#article01">aaa</a>
          </li>
          <li>
            <a href="#article02">aaa</a>
          </li>
          <li>
            <a href="#article03">aaa</a>
          </li>
          <li>
            <a href="#article04">aaa</a>
          </li>
          <li>
            <a href="#article05">aaa</a>
          </li>
        </ul>
      </header>
      <% for (var i in godardData) { %>
      <div class="parallax-bg parallax-bg<%= godardData[i].bgClassName %>" id="top">
        <p class="bg-txt">
          <%= godardData[i].bgTxt %>
        </p>
        <% if(godardData[i].movie) { %>
        <video src="../img/movie1.mp4" poster="" autoplay loop muted></video>
        <% } %>
      </div>
      <div class="scrollbox" id="<%= godardData[i].contsId %>">
        <div class="scrollbox__inner<%= godardData[i].contsClassName %>">
          <%= godardData[i].contsTxt %>
        </div>
      </div>
      <% } %>
    </main>
  </div>
  <script src="../js/godard.min.js" charset="utf-8"></script>
</body>

</html>
